.Select-value.draggable-dragging {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #08c;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select-value.draggable-dragging .Select-value-icon,
.Select-value.draggable-dragging .Select-value-label {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  float: left;
}
.Select-value.draggable-dragging .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 0 2px 5px;
}
.Select-value.draggable-dragging .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 1px 5px 3px;
}
.Select-value.draggable-dragging .Select-value-icon:hover,
.Select-value.draggable-dragging .Select-value-icon:focus {
  background-color: #ddeff7;
  color: #0077b3;
}
.Select-value.draggable-dragging .Select-value-icon:active {
  background-color: #c9e6f2;
}
.draggable-dragging {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: row-resize;
  z-index: 10;
  border-radius: 5px;
}
.draggable-dragging * {
  -webkit-touch-callout: none;
  user-select: none;
}
.draggable-dragging label,
.draggable-dragging p {
  text-align: left;
}
